apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  labels:
    team: tbd
  name: spinnvill
  namespace: tbd
spec:
  image: {{image}}
  port: 8080
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  prometheus:
    enabled: true
    path: /metrics
  kafka:
    pool: nav-dev
  secureLogs:
    enabled: true
  replicas:
    min: 1
    max: 2
  gcp:
    sqlInstances:
      - type: POSTGRES_15
        diskAutoresize: true
        tier: db-f1-micro
        flags:
          - name: cloudsql.enable_pgaudit
            value: "true"
          - name: pgaudit.log
            value: "write"
        databases:
          - name: spinnvill
            envVarPrefix: DATABASE
            users:
              - name: spinnvill-opprydding-dev
  env:
    - name: KAFKA_RAPID_TOPIC
      value: tbd.rapid.v1
    - name: KAFKA_CONSUMER_GROUP_ID
      value: tbd-spinnvill-v1
