name: Monitor dependencies with Dependabot
on:
  push:
    branches:
      - main
    paths:
      - "**.gradle.kts"
      - "gradle.properties"
  workflow_dispatch:
jobs:
  dependabot:
    name: Monitor dependencies with Dependabot
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21.x'

      - name: Set up gradle with generate and submit
        uses: gradle/gradle-build-action@v3
        with:
          dependency-graph: generate-and-submit
        env:
          ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
      - name: Build gradle (dependency-graph will be generated and submitted post-job)
        run: ./gradlew build
