name: Monitor dependencies with Dependabot
on:
  push:
    branches:
      - main
    paths:
      - "**.gradle.kts"
      - "gradle.properties"
  workflow_dispatch:
jobs:
  dependabot:
    name: Monitor dependencies with Dependabot
    runs-on: ubuntu-latest
    permissions: # The Dependency Submission API requires write permission
      contents: write
    steps:
      - uses: actions/checkout@v4 # ratchet:actions/checkout@v4
      - name: Run snapshot action
        uses: mikepenz/gradle-dependency-submission@v0.9.1
        env:
          ORG_GRADLE_PROJECT_githubUser: x-access-token
          ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
        with:
          fail-on-error: true
          gradle-build-module: |-
            helse-spinnvill
            helse-spinnvill:spinnvill-app
            helse-spinnvill:spinnvill-avviksvurdering
            helse-spinnvill:spinnvill-db
            helse-spinnvill:spinnvill-felles
