name: Bygg PR

on: [pull_request]

jobs:
  build:
    name: Build project
    runs-on: ubuntu-latest-16-cores
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21.x'

      - name: Gradle build
        uses: gradle/gradle-build-action@v2.9.0
        with:
          arguments: test build
        env:
          ORG_GRADLE_PROJECT_githubUser: x-access-token
          ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
